$font-color: #333;
* {
    font-size: 1.08em;
    font-family: "Segoe UI", Arial, sans-serif;
    color: $font-color;
}
body {
    width: 100%;
    margin: 0;
}
html {
    width: 300px;
    padding: 5px 4%;
    box-sizing: border-box;
}

.menuEntry {
    width: 100%;
    white-space: nowrap;
}
.menuEntry + .menuEntry {
    margin-top: 5px;
}

hr {
    width: 104%;
    margin-left: -2%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: $font-color;
}
button {
    text-transform: capitalize;
}
#optionsMenu {
    .repeatMode {
        label {
            float: left;
        }
        input {
            float: right;
            box-sizing: border-box;
            width: 100%;
        }

        #repeatCount {
            width: 30%;
        }
        #speed {
            width: auto;
        }
    }
}

#actionBar {
    display: flex;
    width: 100%;

    button {
        text-align: center;
        background: white;
        flex: 1 1 auto;
        border-style: none;
        &:hover {
            background: #ff00571c;
        }
        &:disabled {
            color: #999;
            &:hover {
                background: none;
            }
        }
    }
    button + button {
        border-left: 1px #ccc solid;
    }
}

#recordSelect {
    border-style: none;
    overflow: auto;
    height: 8em;
    outline: none;
    option {
        &:nth-child(even) {
            background: #eee;
        }
    }
    #newRecording {
        font-weight: 600;
    }
}
::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background: $font-color;
    border-radius: 5px;
}
