<template>
    <div id="editPage" class="component">
        <record-select :storage="storage" @onSelect="OnSelect" class="record-select"></record-select>
        <record-editor :id="selectedRecord" :storage="storage" class="record-editor"></record-editor>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import recordEditor from "./recordEditor.vue";
import recordSelect from "./recordSelect.vue";
import { Storage, GetStorages, IStorage, BrowserLocalStorage } from "../../_common/storageAPI";
import { recordId } from "../../_common/typeDefinitions/record";

export default Vue.extend({
    name: "editPage",
    components: { recordEditor, recordSelect },
    data() {
        return {
            selectedRecord: {},
            storage: {} as IStorage,
        };
    },
    created() {
        //chrome.storage.sync.onChanged
        this.storage = new Storage(GetStorages, BrowserLocalStorage.GetInstance());
    },
    methods: {
        OnSelect(id: recordId) {
            this.selectedRecord = id;
        },
    },
});
</script>
<style lang="scss" scoped>
#editPage {
    display: flex;
}
@media (min-aspect-ratio: 1/1) and (min-width: 600px) {
    .record-select {
        max-width: 600px;
        flex: 1 0 auto;
    }
    .record-editor {
        flex: 3 0 auto;
    }
}
//verticaly
@media (max-aspect-ratio: 1/1), (max-width: 600px) {
    #editPage {
        flex-direction: column;
    }
    .record-select {
        min-height: 30%;
        flex: 1 2 auto;
    }
    .record-editor {
        flex: 3 1 auto;
    }
}
</style>
