<template>
    <div v-if="record != null" class="editor custom-scrollbar component">
        <!--<FormSchemaNative :schema="schema" v-model="model" @submit="log">
        </FormSchemaNative>-->
        <h3 @dblclick="onRenaming" :contenteditable="renaming" @keydown.enter="rename">
            {{ record.metadata.name }}
        </h3>
        <code-editor v-model="model" language="json"></code-editor>
        <div class="bottomArea">
            <b-button @click="getTemplate">Get CSV Template</b-button>
            <b-button @click="remove">Remove</b-button>
            <b-button @click="save">Save</b-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

import codeEditor from "vue-prism-editor";
import "prismjs";
import "prismjs/components/prism-json";
import "./highlight.scss";

import { Record, FormData } from "../../_common/typeDefinitions/record";
import { download } from "../../_common/utils";

export default Vue.extend({
    name: "recordEditor",
    props: ["id", "storage"],
    components: {
        codeEditor,
    },
    data() {
        return {
            renaming: false,
            model: "",
            record: undefined as Record | undefined,
        };
    },
    created() {},
    methods: {
        save() {
            this.record = JSON.parse(this.model);
            this.storage.UpdateRecord(this.id, this.record);
        },
        remove() {
            if (this.record != null) {
                this.storage.RemoveRecord(this.record.id);
                location.reload();
            }
        },
        /**
         * Downloads CSV-like template for selected record
         */
        getTemplate() {
            if (this.record != null) {
                let output: string = "";
                for (const data of this.record.data) {
                    if ((data as FormData).label) {
                        output += `${(data as FormData).label}:(${(data as FormData).options}),`;
                    }
                }
                output = output.slice(0, -1);

                download(output, this.record.metadata.name + "_template.txt");
            }
        },
        onRenaming(e) {
            setTimeout(function() {
                e.target.focus();
            }, 0);
            this.renaming = true;
        },
        rename(e) {
            this.renaming = false;
            this.record!.metadata.name = e.target.textContent.trim();
            this.storage.UpdateRecord(this.id, this.record);
        },
    },
    watch: {
        id: async function(newVal, oldVal) {
            this.record = await this.storage.GetRecord(newVal as number);
            this.model = JSON.stringify(this.record, undefined, 4);
        },
    },
});
</script>

<style lang="scss" scoped>
.editor {
    overflow: auto;
}
.bottomArea {
    display: inline;
}
h3 {
    user-select: none;
}
</style>
