<template>
    <div>
        <div class="text">{{ record.name }}</div>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    name: "recordOption",
    props: ["record"],
});
</script>
<style lang="scss" scoped>
.storage {
    height: 10px;
    width: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: yellow;
    background: yellow;
    display: inline-block;
}
.sync {
    border-color: green;
    background: green;
}
.text {
    display: inline;
}
div {
    cursor: pointer;
}
</style>
