<template>
    <b-card class="test component" no-body>
        <b-card-body class="custom-scrollbar">
            <b-card-title>Select recording:</b-card-title>
            <div v-for="(records, host) in GroupedByHost" :key="host" class="host-list">
                <h3>{{ host }}</h3>
                <record-option
                    v-for="(record, id) in records"
                    :key="id"
                    :record="record"
                    @click.native="
                        $emit('onSelect', id);
                        click($event, record);
                    "
                    :class="{ inChain: selected.includes(record), selected: record === selectedRecord }"
                ></record-option>
            </div>
        </b-card-body>
        <b-card-footer>
            <b-button @click="onChain">{{ chaining ? "Save chain" : "Chain..." }}</b-button>
            <b-alert variant="info" :show="chaining">Select records to chain them.</b-alert>
        </b-card-footer>
    </b-card>
</template>
<script lang="ts">
import Vue from "vue";
import recordOption from "./recordOption.vue";
import { Metadata } from "../../_common/typeDefinitions/record";
import { StorageSummary, IStorage } from "../../_common/storageAPI";

export default Vue.extend({
    name: "recordSelect",
    components: { recordOption },
    props: ["storage"],
    data() {
        return {
            chaining: false,
            selected: [] as Metadata[],
            selectedRecord: undefined as Metadata | undefined,
            summary: {} as StorageSummary,
        };
    },
    created() {
        (this.storage as IStorage).getSummary().then(summary => (this.summary = summary));
    },
    computed: {
        GroupedByHost() {
            let groups: { [host: string]: { [id: string]: Metadata } } = {};
            for (const id in this.summary) {
                if (!groups[this.summary[id].host]) groups[this.summary[id].host] = {};
                groups[this.summary[id].host][id] = this.summary[id];
            }
            return groups;
        },
    },
    methods: {
        /**
         * Handler for starting stopping chaining
         */
        onChain() {
            if (this.chaining) {
                let name = prompt("Type name of the new chained record");
                if (name) {
                    let newRecord = this.selected[0];
                    newRecord.metadata.name = name;

                    newRecord.data = [];
                    for (const record of this.selected) {
                        newRecord.data.push(...record.data);
                    }
                    this.storage.AddRecord(newRecord);
                    location.reload();
                }
            }
            this.chaining = !this.chaining;
        },
        /**
         * Select click handler, if it is chaining adds [[Record]] to the chain.
         * @param e click event
         * @param record clicked record
         */
        click(e: MouseEvent, record: Metadata) {
            this.selectedRecord = record;
            if (this.chaining) {
                let index = this.selected.indexOf(record);
                if (index === -1) {
                    this.selected.push(record);
                } else {
                    this.selected.splice(index, 1);
                }
            }
        },
    },
});
</script>
<style lang="scss" scoped>
@import "../styles";
.test {
    background-color: $background1;
}
.test2 {
    overflow: auto;
}
h3 {
    font-size: 1.5em;
}
.inChain {
    background: scale-color($primary, $lightness: -50%);
}
.selected {
    background: $primary;
}
</style>
