<template>
    <div class="component">
        <h1>Defaults</h1>
        <form-schema :schema="schema" v-model="model"></form-schema>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import formSchema from "@formschema/native";
//import settingsSchema from "../../_typeDefinitions/settings";
//todo

export default Vue.extend({
    components: { formSchema },
    data: () => ({
        schema: {}, //settingsSchema,
        model: {},
    }),
});
</script>

<style lang="scss" scoped>
h1 {
    font-size: 2em;
}
</style>
