<template>
    <div id="settingsPage" class="component">
        <defaults></defaults>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import defaults from "./defaults.vue";
export default Vue.extend({
    components: {
        defaults,
    },
});
</script>
<style lang="sass" scoped></style>
