<template>
    <main id="mainApp">
        <header>
            <h1>Options page</h1>
        </header>
        <b-tabs pills class="mytabs">
            <b-tab title="Edit"><edit-page class="page"></edit-page></b-tab>
            <b-tab title="Settings"><settings-page class="page"></settings-page></b-tab>
            <b-tab title="Experimental" disabled></b-tab>
        </b-tabs>
    </main>
</template>

<script lang="ts">
import editPage from "./editor/editPage.vue";
import settingsPage from "./settings/settingsPage.vue";

export default {
    name: "app",
    components: {
        editPage,
        settingsPage,
    },
};
</script>
<style lang="scss">
@import "./styles.scss";

html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
}
body,
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.mytabs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page {
    height: 100%;
    flex-grow: 1;
}
.tab-content,
.tab-pane {
    height: 100%;
}

#mainApp {
    padding: 20px;
}
header {
    height: 3em;
}

@media (min-width: 1111px) {
    #mainApp {
        padding-left: 40px;
        padding-right: 40px;
    }
}
</style>
