$primary: #73209b;
$secondary: #489b20;
$success: #20859b;
$info: #ffed19;
$warning: #9b3620;
$danger: #9b3620;

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

$background0: darken(#fff, 85);
$background1: darken(#fff, 82);
$background2: darken(#fff, 79);
$foreground: darken(#fff, 10);

$body-bg: $background0;
$body-color: $foreground;
$input-bg: $background1;
$input-color: $foreground;
$dropdown-bg: $background0;
$dropdown-color: $foreground;
$pagination-bg: $background0;

.custom-scrollbar {
    overflow: auto;
    //webkit
    &::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-button {
    }
    &::-webkit-scrollbar-track {
        border-color: red;
        border-width: 5;
        background-color: $background2;
    }
    &::-webkit-scrollbar-track-piece {
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken(#fff, 60);
    }
    &::-webkit-scrollbar-corner {
    }
    &::-webkit-resizer {
    }
}

.component {
    contain: strict;
}

@import "~bootstrap/scss/bootstrap";
